# Node.js
node_modules/

# Logs
logs
*.log

# Dependency directories
pids
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/
out/

# Environment variables
.env

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
.DS_Store
Thumbs.db

# Fitxer generat per l'script
muntanyesRepte100CimsFEEC.json